    <div class="" style="width: 100%;">
      <nav class="navbar navbar-expand-lg navbar-success bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> <i class="far fa-snowflake"></i> WheaterApp <i class="far fa-snowflake"></i></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse me-5 " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wheater">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>